<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cgy.chengy.demofactory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/gameshot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gameshot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--        <activity android:name=".activity.TizhiActivity">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" />-->
        <!--                <category android:name="android.intent.category.LAUNCHER" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity android:name=".activity.CalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.ScreenSizeActivity" />
        <activity android:name=".activity.AidlActivity" />
        <activity android:name=".activity.WebGoActivity" />
        <activity android:name=".activity.ParseUrlActivity" />
        <activity android:name=".activity.AidlTwoActivity" />
        <activity android:name=".activity.StartOtherAppActivity" />
        <activity android:name=".activity.TizhiActivity" />
        <activity
            android:name=".yxapi.YXEntryActivity"
            android:exported="true" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.ListToArgsActivity" />
        <activity
            android:name=".activity.GameShotActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.HesuanActivity" />
    </application>

</manifest>